.title-container {
    *margin: 2rem 0;
}

.title-container h1 {
    margin: 2rem 0 0;
    font-family: 'Dancing Script', cursive;
}

.title-container p {
    font-family: 'Hubballi', cursive;
    margin: 1rem 0;
    text-align: justify;
}

.email-container {
    margin: 0 auto;
    width: 80%;
}

form, label {
    display: flex;
    flex-direction: column;
}

form button {
    margin: 0 auto 1rem;
}

label {
    font-family: 'Hubballi', cursive;
    margin-bottom: 0.5rem;
    align-self: flex-start;
}

.required {
    background-color: rgb(204, 59, 59);
    padding: 0.35rem;
    margin-bottom: 0.25rem;
    font-family: 'Hubballi', cursive;
    display: flex;
    color: white;
    align-self: flex-start;
    display: none;
    border-radius: 0.1rem;
}
.isValidEmail {
    background-color: rgb(204, 59, 59);
    padding: 0.35rem;
    margin-bottom: 0.25rem;
    font-family: 'Hubballi', cursive;
    display: flex;
    color: white;
    align-self: flex-start;
    display: none;
    border-radius: 0.1rem;
}

.emailFormat {
    font-weight: 600;
}

label~input,
label~textarea {
    margin-bottom: 1rem;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

textarea {
    min-height: 5rem;
    padding: 0.5rem;
}