body {
    background-color: darkslategrey;
    color: white;
}

.privacy-container * {
    font-family: 'Hubballi', cursive;
}

.privacy-title {
    font-family: 'Hubballi', cursive;
    text-align: center;
    margin-top: 2rem;
}

.privacy-container {
    margin: 2rem auto;
    width: 80%;
}

.privacy-container h3 {
    margin: 3rem 0 1rem;
    width: 80%;
}

.privacy-container p {
    text-align: justify;
    margin-top: 1rem;
}

.sub-ul-list {
    margin-left: 1.5rem;
}

.sub-ul-list li {
    margin-top: 0.5rem;
}

